h1{
    color: deeppink;
    margin: 0px;
}

#bordaexterna{
    width: 300px;
    margin: 20px;
    border-style: outset;
    border-width: 10px;
}

#borda{
    width: 280px;
    margin: 0px;
    padding: 20px;
    background-image: linear-gradient(rgb(105, 107, 245), rgb(93, 201, 228));
    border-style: solid;
    border-width: 5px;
}