<div class="row">
    <div class="col-3 colunabotoes">
        <app-numero valorTecla="7" (digitou)="NumeroClicado($event)"></app-numero>
    </div>
    <div class="col-3 colunabotoes">
        <app-numero valorTecla="8" (digitou)="NumeroClicado($event)"></app-numero>
    </div>
    <div class="col-3 colunabotoes">
        <app-numero valorTecla="9" (digitou)="NumeroClicado($event)"></app-numero>
    </div>
    <div class="col-3 colunabotoes">
        <input (click)="Digitar('operador', '/')" type="button" class="rounded-pill botoescalc" value="/">
    </div>
</div>
<div class="row">
    <div class="col-3 colunabotoes">
        <app-numero valorTecla="4" (digitou)="NumeroClicado($event)"></app-numero>
    </div>
    <div class="col-3 colunabotoes">
        <app-numero valorTecla="5" (digitou)="NumeroClicado($event)"></app-numero>
    </div>
    <div class="col-3 colunabotoes">
        <app-numero valorTecla="6" (digitou)="NumeroClicado($event)"></app-numero>
    </div>
    <div class="col-3 colunabotoes">
        <input (click)="Digitar('operador', '*')" type="button" class="rounded-pill botoescalc" value="*">
    </div>
</div>
<div class="row">
    <div class="col-3 colunabotoes">
        <app-numero valorTecla="1" (digitou)="NumeroClicado($event)"></app-numero>
    </div>
    <div class="col-3 colunabotoes">
        <app-numero valorTecla="2" (digitou)="NumeroClicado($event)"></app-numero>
    </div>
    <div class="col-3 colunabotoes">
        <app-numero valorTecla="3" (digitou)="NumeroClicado($event)"></app-numero>
    </div>
    <div class="col-3 colunabotoes">
        <input (click)="Digitar('operador', '-')" type="button" class="rounded-pill botoescalc" value="-">
    </div>
</div>
<div class="row">
    <div class="col-3 colunabotoes">
        <input (click)="Digitar('ponto')" type="button" class="rounded-pill botoescalc" value=",">
    </div>
    <div class="col-3 colunabotoes">
        <app-numero valorTecla="0" (digitou)="NumeroClicado($event)"></app-numero>
    </div>
    <div class="col-3 colunabotoes">
        <app-numero valorTecla="00" (digitou)="NumeroClicado($event)"></app-numero>
    </div>
    <div class="col-3 colunabotoes">
        <input (click)="Digitar('operador', '+')" type="button" class="rounded-pill botoescalc" value="+">
    </div>
</div>
<div class="row">
    <div class="col-3 colunabotoes">
    </div>
    <div class="col-6 colunabotoes">
        <input (click)="Digitar('igual')" id="botaoigual" type="button" class="rounded-pill botoescalc" value="=">
    </div>
    <div class="col-3 colunabotoes">
    </div>
</div>
