<div class="row">
    <div class="col-3 colunabotoes">
        <app-numero valorTecla="7" (digitou)="NumeroClicado($event)"></app-numero>
    </div>
    <div class="col-3 colunabotoes">
        <app-numero valorTecla="8" (digitou)="NumeroClicado($event)"></app-numero>
    </div>
    <div class="col-3 colunabotoes">
        <app-numero valorTecla="9" (digitou)="NumeroClicado($event)"></app-numero>
    </div>
    <div class="col-3 colunabotoes">
        <app-operador valorTecla="/" (digitou)="OperadorClicado($event)"></app-operador>
    </div>
</div>
<div class="row">
    <div class="col-3 colunabotoes">
        <app-numero valorTecla="4" (digitou)="NumeroClicado($event)"></app-numero>
    </div>
    <div class="col-3 colunabotoes">
        <app-numero valorTecla="5" (digitou)="NumeroClicado($event)"></app-numero>
    </div>
    <div class="col-3 colunabotoes">
        <app-numero valorTecla="6" (digitou)="NumeroClicado($event)"></app-numero>
    </div>
    <div class="col-3 colunabotoes">
        <app-operador valorTecla="*" (digitou)="OperadorClicado($event)"></app-operador>
    </div>
</div>
<div class="row">
    <div class="col-3 colunabotoes">
        <app-numero valorTecla="1" (digitou)="NumeroClicado($event)"></app-numero>
    </div>
    <div class="col-3 colunabotoes">
        <app-numero valorTecla="2" (digitou)="NumeroClicado($event)"></app-numero>
    </div>
    <div class="col-3 colunabotoes">
        <app-numero valorTecla="3" (digitou)="NumeroClicado($event)"></app-numero>
    </div>
    <div class="col-3 colunabotoes">
        <app-operador valorTecla="-" (digitou)="OperadorClicado($event)"></app-operador>
    </div>
</div>
<div class="row">
    <div class="col-3 colunabotoes">
        <app-operador valorTecla="," (digitou)="OperadorClicado($event)"></app-operador>
    </div>
    <div class="col-3 colunabotoes">
        <app-numero valorTecla="0" (digitou)="NumeroClicado($event)"></app-numero>
    </div>
    <div class="col-3 colunabotoes">
        <app-numero valorTecla="00" (digitou)="NumeroClicado($event)"></app-numero>
    </div>
    <div class="col-3 colunabotoes">
        <app-operador valorTecla="+" (digitou)="OperadorClicado($event)"></app-operador>
    </div>
</div>
<div class="row">
    <div class="col-3 colunabotoes">
    </div>
    <div class="col-6 colunabotoes">
        <app-operador valorTecla="=" (digitou)="OperadorClicado($event)"></app-operador>
    </div>
    <div class="col-3 colunabotoes">
    </div>
</div>
